/*
 * YO MENU v2.0
 * Author: iDiY (info@idiy.club)
 */
 .header {
 /* display: none;*/
 
}
.open_menu {
  display: block;
}
#yo-1  .nav {
    padding: 0px;
}
.menu_btn{
    width:  62px;
    height:  32px;
    background-color: #2842c4;
    border: 0px;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 0px solid transparent; 
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05); 
    box-shadow: 0 0px 0px rgba(0,0,0,.05); 
}
.panel-heading
{
    position: relative;
    cursor: pointer;
}
.panel-heading:after
{
    position: absolute;
    top: 50%;
    right: 1em;
    width: 1em;
    height: 2px;
    margin-top: -5px;
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,.6);

    -webkit-box-shadow: 0 2px transparent, 0 4px rgba(0,0,0,.6), 0 6px transparent, 0 8px rgba(0,0,0,.6);
       -moz-box-shadow: 0 2px transparent, 0 4px rgba(0,0,0,.6), 0 6px transparent, 0 8px rgba(0,0,0,.6);
            box-shadow: 0 2px transparent, 0 4px rgba(0,0,0,.6), 0 6px transparent, 0 8px rgba(0,0,0,.6);
}
.panel-heading.menu-collapsed
{
    padding-right: 2.5em;
    border-color: transparent;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    -webkit-transition: border-color .3s;
       -moz-transition: border-color .3s;
        -ms-transition: border-color .3s;
         -o-transition: border-color .3s;
            transition: border-color .3s;
}
.panel-heading.menu-collapsed:after
{
    opacity: 1;
}
.yo-fm
{
    position: relative;
}
.yo-fm,
.yo-fm ul
{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.yo-fm.fm-one ul,
.yo-fm .fm-container
{
    position: absolute;
    z-index: 777;
    top: 0;
    left: 100%;
    display: none;
}
.yo-fm.fm-one ul > div,
.yo-fm .fm-container > ul
{
    border: 1px solid rgba(0,0,0,.085);
    background-color: #fff;

    -webkit-box-shadow: 5px 5px 0 rgba(0,0,0,.085);
       -moz-box-shadow: 5px 5px 0 rgba(0,0,0,.085);
            box-shadow: 5px 5px 0 rgba(0,0,0,.085);
}
#column-right .yo-fm.fm-one ul,
#column-right .yo-fm .fm-container
{
    right: 100%;
    left: auto;
}
#column-right .yo-fm.fm-one ul > div,
#column-right .yo-fm .fm-container > ul
{
    -webkit-box-shadow: -5px 5px 0 rgba(0,0,0,.085);
       -moz-box-shadow: -5px 5px 0 rgba(0,0,0,.085);
            box-shadow: -5px 5px 0 rgba(0,0,0,.085);
}
.yo-fm.fm-one ul
{
    top: -1px;
}
.yo-fm.fm-one ul ul
{
    top: -.5px;
}
.yo-fm.fm-one li
{
    position: relative;
}
.yo-fm .fm-container > ul
{
    display: table;
    padding: 1em;
    table-layout: fixed;
    border-radius: 4px;
    border-top-left-radius: 0;
}
.yo-fm .fm-container > ul > div
{
    display: table-cell;
    padding-right: 1em;
    vertical-align: top;
    word-wrap: break-word;
}
.yo-fm .fm-container > ul > div > li
{
    overflow: hidden;
    margin-bottom: 1em;
}
.yo-fm .fm-container > ul > div > li:hover .item-wrapper
{
    background-color: rgba(0,0,0,.04);
}
.yo-fm .fm-container ul ul
{
    overflow: hidden;
    width: auto;
}
.yo-fm .fm-container ul ul > div
{
    padding: .5em;
}
.yo-fm .fm-container ul ul li
{
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.yo-fm .fm-container ul ul li
{
    padding-right: .6em;
}
.yo-fm .fm-container ul ul li:last-child
{
    padding-right: 0;
}
.yo-fm .fm-container ul ul li:after
{
    font-weight: normal;
    position: absolute;
    top: 51%;
    right: 0;
    margin-top: -.809em;
    content: '•';
    opacity: .2;
}
.yo-fm .fm-container ul ul li:last-child:after
{
    content: '';
}
.yo-fm .fm-container ul ul li a
{
    cursor: pointer;
    color: #888;
}
.yo-fm .fm-container ul ul li a:hover
{
    color: #23a1d1;
}
.yo-fm .fm-container .item-image + div
{
    overflow: hidden;
}
.yo-fm .fm-container .item-image.img-center
{
    float: none;
    margin: 0 auto;
}
.yo-fm .fm-container .item-image.img-center + div > a .item-title
{
    text-align: center;
}
.yo-fm .fm-container .item-image.img-center + div > a .item-icon + .item-title
{
    text-align: inherit;
}
.yo-fm .fm-container .item-image.img-left
{
    float: left;
    max-width: 50%;
    margin-right: 1em;
    border: 1px solid #eee;
}
.yo-fm .fm-container .item-image.img-right
{
    float: right;
    max-width: 50%;
    margin-left: 1em;
    border: 1px solid #eee;
}
.yo-fm .fm-container .item-wrapper .item-count,
.yo-fm .fm-container .item-wrapper .item-price
{
    display: inline-block;
    width: auto;
    margin: 0 .2em;
    padding: 0;
}
.yo-fm .fm-container .fm-content
{
    padding: .5em 1em;
    border: 1px dashed #ddd;
    border-radius: 4px;
}
.yo-fm li
{
    line-height: 1.4em;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}
.yo-fm > li+li,
.yo-fm.fm-one li+li
{
    /*border-top: 1px solid rgba(0,0,0,.085);*/
}
.yo-fm li a.item-current
{
    font-weight: bold;
}
.yo-fm .item-wrapper
{
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    text-decoration: none;
    color: #595959;
    border: none;
    outline: none;
    background-color: transparent;
}
.yo-fm li.active > .item-wrapper,
.yo-fm li:hover > .item-wrapper,
.yo-fm .fm-container .item-wrapper
{
    color: #333;
    background-color: rgba(0,0,0,.02);
    text-shadow: 0 1px 0 #fff;
}
.yo-fm .item-wrapper > div
{
    position: relative;
    display: table-cell;
    padding: .7em 1.4em;
    vertical-align: middle;
    word-wrap: break-word;
}
.yo-fm .item-wrapper .item-icon
{
    line-height: 1;
    width: 4.3em;
    text-align: center;
}
.yo-fm .item-wrapper .item-icon img
{
    display: block;
    max-width: 1.5em;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    border: 0;
}
.yo-fm .item-wrapper .item-icon + div
{
    padding-left: 0;
}
.yo-fm .item-wrapper .item-title
{
    width: 100%;
}
.yo-fm .fa
{
    font-size: 1.25em;
}
.yo-fm .item-wrapper .item-count
{
    width: 5.5em;
    padding: 0 2.5em 0 0;
    text-align: right;
}
.yo-fm .item-wrapper .item-count span
{
    font-size: 83%;
    font-weight: normal;
    line-height: 1;
    display: inline-block;
    min-width: 1.6em;
    margin-bottom: .1em;
    padding: .3em .5em;
    text-align: center;
    border: 1px solid rgba(0,0,0,.12);
    background-color: #fff;

    -webkit-border-radius: .8em;
       -moz-border-radius: .8em;
            border-radius: .8em;
}
.yo-fm .item-wrapper .item-price
{
    font-size: 83%;
    font-weight: normal;
    width: 50%;
    padding: 0 1.35em 0 0;
    text-align: right;
}
.yo-fm .item-wrapper .item-price span
{
    line-height: 1;
    padding: .1em .6em;
    border: 1px solid rgba(0,0,0,.085);
    background-color: #fff;

    -webkit-border-radius: .8em;
       -moz-border-radius: .8em;
            border-radius: .8em;
}
.yo-fm .item-image > a
{
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
}
.yo-fm .item-image img
{
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    border: 0;
}
.yo-fm .item-toggle:active
{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.04);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.04);
}
.yo-fm .item-toggle
{
    cursor: pointer;
}
.yo-fm li > .item-toggle:after
{
    font-family: FontAwesome;
    font-weight: normal;
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -.809em;
    content: '\f105';
    opacity: .45;
}
.yo-fm li.active > .item-toggle:after,
.yo-fm li .item-toggle:hover:after
{
    opacity: .85;
    text-shadow: 0 1px 0 #fff;
}
.yo-fm *:before, .yo-fm *:after {
    display: block;
}
.panel-heading:after,
.yo-fm .item-wrapper,
.yo-fm .item-wrapper .item-price span,
.yo-fm li > .item-toggle:after
{
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
}
@media  only screen and (min-width: 768px) and (max-width: 991.9px) {
        .yo-fm .item-wrapper .item-icon {
    line-height: 1;
    width: 2.0em;
    text-align: center;
    }
    .yo-fm .item-wrapper > div {
    padding: .6em 0.0em;
    }
    .yo-fm .item-wrapper .item-icon img {
    margin-right: 0; 
     margin-left: 0;
     }
}