/*
 * YO MENU v2.0
 * Author: iDiY (info@idiy.club)
 */

.panel-heading
{
    position: relative;
    cursor: pointer;
}
.panel-heading:after
{
    position: absolute;
    top: 50%;
    right: 1em;
    width: 1em;
    height: 2px;
    margin-top: -5px;
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,.6);

    -webkit-box-shadow: 0 2px transparent, 0 4px rgba(0,0,0,.6), 0 6px transparent, 0 8px rgba(0,0,0,.6);
       -moz-box-shadow: 0 2px transparent, 0 4px rgba(0,0,0,.6), 0 6px transparent, 0 8px rgba(0,0,0,.6);
            box-shadow: 0 2px transparent, 0 4px rgba(0,0,0,.6), 0 6px transparent, 0 8px rgba(0,0,0,.6);
}
.panel-heading.menu-collapsed
{
    padding-right: 2.5em;
    border-color: transparent;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    -webkit-transition: border-color .3s;
       -moz-transition: border-color .3s;
        -ms-transition: border-color .3s;
         -o-transition: border-color .3s;
            transition: border-color .3s;
}
.panel-heading.menu-collapsed:after
{
    opacity: 1;
}

.yo-pm,
.yo-pm ul
{
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.yo-pm
{
    position: relative;
}
.yo-pm ul
{
    position: absolute;
    top: 0;
    left: 100%;
}
.yo-pm.pm-invisible,
.yo-pm ul.pm-invisible
{
    -webkit-transform: translate(-100%, 0);
       -moz-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
         -o-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
}
.yo-pm.pm-trans,
.yo-pm ul.pm-trans
{
    -webkit-transition: transform .3s ease;
       -moz-transition: transform .3s ease;
        -ms-transition: transform .3s ease;
         -o-transition: transform .3s ease;
            transition: transform .3s ease;
}
.yo-pm li
{
    line-height: 1.618em;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}
.yo-pm li+li,
.yo-pm li li
{
    border-top: 1px solid rgba(0,0,0,.085);
}
.yo-pm li a.item-current
{
    font-weight: bold;
}
.yo-pm .item-wrapper
{
    position: relative;
    display: table;
    table-layout: fixed;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #595959;
    border: none;
    outline: none;
    background-color: transparent;
}
.yo-pm li.active > .item-wrapper,
.yo-pm li .item-wrapper:hover
{
    color: #333;
    background-color: rgba(0,0,0,.02);
    text-shadow: 0 1px 0 #fff;
}
.yo-pm .item-wrapper > div
{
    position: relative;
    display: table-cell;
    padding: .7em 1.4em;
    vertical-align: middle;
    word-wrap: break-word;
}
.yo-pm .item-wrapper .item-icon
{
    line-height: 1;
    width: 4.3em;
    text-align: center;
}
.yo-pm .item-wrapper .item-icon img
{
    display: block;
    max-width: 1.5em;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    border: 0;
}
.yo-pm .item-wrapper .item-icon + div
{
    padding-left: 0;
}
.yo-pm .item-wrapper .item-title
{
    width: 100%;
}
.yo-pm .fa
{
    font-size: 1.25em;
}
.yo-pm .item-wrapper .item-count
{
    width: 5.5em;
    padding: 0 2.5em 0 0;
    text-align: right;
}
.yo-pm .item-wrapper .item-count span
{
    font-size: 83%;
    font-weight: normal;
    line-height: 1;
    display: inline-block;
    min-width: 1.6em;
    margin-bottom: .1em;
    padding: .3em .5em;
    text-align: center;
    border: 1px solid rgba(0,0,0,.12);
    background-color: #fff;

    -webkit-border-radius: .8em;
       -moz-border-radius: .8em;
            border-radius: .8em;
}
.yo-pm .item-wrapper .item-price
{
    font-size: 83%;
    font-weight: normal;
    width: 50%;
    padding: 0 1.35em 0 0;
    text-align: right;
}
.yo-pm .item-wrapper .item-price span
{
    line-height: 1;
    padding: .1em .6em;
    border: 1px solid rgba(0,0,0,.085);
    background-color: #fff;

    -webkit-border-radius: .8em;
       -moz-border-radius: .8em;
            border-radius: .8em;
}
.yo-pm .item-image > a
{
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
}
.yo-pm .item-image img
{
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    border: 0;
}
.yo-pm .item-toggle:active
{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.04);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.04);
}
.yo-pm .item-toggle
{
    cursor: pointer;
}
.yo-pm li > .item-toggle:after
{
    font-family: FontAwesome;
    font-weight: normal;
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -.809em;
    content: '\f105';
    opacity: .45;
}
.yo-pm li li.active > .item-toggle:after
{
     -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
         -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
             transform: rotate(90deg);
}
.yo-pm li.active > .item-toggle:after,
.yo-pm li .item-toggle:hover:after
{
    opacity: .85;
    text-shadow: 0 1px 0 #fff;
}
.yo-pm li li .item-wrapper .item-arrow:before
{
    font-weight: normal;
    position: absolute;
    top: 51%;
    left: .5em;
    margin-top: -.809em;
    content: '•';
    opacity: .2;
}
.yo-pm li li .item-current .item-arrow:before
{
    color: #23a1d1;
    opacity: 1;
}
.yo-pm  li li .item-wrapper
{
    padding-left: 1.5em;
}
.yo-pm  li li.active > .item-wrapper
{
    padding-left: 0;
}
.yo-pm  li li.active
{
    border-top: none;
}
.yo-pm *:before, .yo-pm *:after {
    display: block;
}
.panel-heading:after,
.yo-pm .item-wrapper,
.yo-pm .item-wrapper .item-price span,
.yo-pm li > .item-toggle:after
{
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
}